<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>learnSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B571FCA61ED92B2A005AF892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B571FCBA1ED92B2A005AF892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B571FCC51ED92B2A005AF892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
